.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-gallery-item-1 {
  margin: -256px 0 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-1 {
  margin: 256px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 623px;
  width: 370px;
  margin: 47px auto 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 27px 27px;
  grid-template-columns: auto auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-2 {
  object-position: 42.28% 35.73%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 59.51%;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 46.97%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 58.65%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 30.11%;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 45.67%;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 49.57%;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-10 {
  object-position: 50% 46.11%;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-11 {
  object-position: 50% 31.84%;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-12 {
  object-position: 58.36% 52.59%;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-13 {
  object-position: 50% 78.1%;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-14 {
  object-position: 62.22% 32.28%;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-15 {
  object-position: 42.28% 56.05%;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-image-21 {
  object-position: 50% 35.73%;
}

.u-section-1 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-2 {
  height: 623px;
  width: 370px;
  margin: -623px auto 0 770px;
}

.u-section-1 .u-gallery-inner-2 {
  grid-gap: 27px 27px;
  grid-template-columns: auto auto;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-22 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-23 {
  object-position: 50% 67.33%;
}

.u-section-1 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-24 {
  object-position: 50% 55.14%;
}

.u-section-1 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-25 {
  object-position: 50% 30.11%;
}

.u-section-1 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-25 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-26 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-26 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-27 {
  object-position: 50% 83.48%;
}

.u-section-1 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-27 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-28 {
  object-position: 50% 45.67%;
}

.u-section-1 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-28 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-29 {
  object-position: 50% 59.51%;
}

.u-section-1 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-29 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-30 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-30 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-31 {
  object-position: 50% 86.23%;
}

.u-section-1 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-31 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-32 {
  object-position: 50% 55.94%;
}

.u-section-1 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-32 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-33 {
  object-position: 50% 53.32%;
}

.u-section-1 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-33 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-34 {
  object-position: 50% 26.77%;
}

.u-section-1 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-34 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-35 {
  object-position: 50% 86.23%;
}

.u-section-1 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-35 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-36 {
  object-position: 50% 43.49%;
}

.u-section-1 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-36 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-37 {
  object-position: 50% 100%;
}

.u-section-1 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-37 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-38 {
  object-position: 50% 21.41%;
}

.u-section-1 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-38 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  --effect-scale: 0.25;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-39 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-39 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-40 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-40 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-41 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-47 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-48 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-49 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-50 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-51 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-52 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-53 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-54 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-55 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-56 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-57 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-58 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-59 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-60 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-3 {
  height: 623px;
  width: 370px;
  margin: -623px auto 0;
}

.u-section-1 .u-gallery-inner-3 {
  grid-gap: 27px 27px;
  grid-template-columns: auto auto;
}

.u-section-1 .u-carousel-item-41 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-42 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-42 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-43 {
  object-position: 66.25% 0%;
}

.u-section-1 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-43 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-44 {
  object-position: 72.6% 0%;
}

.u-section-1 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-44 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-45 {
  object-position: 54.32% 0%;
}

.u-section-1 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-45 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-46 {
  object-position: 60.41% 0%;
}

.u-section-1 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-46 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-47 {
  object-position: 46.44% 0%;
}

.u-section-1 .u-over-slide-47 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-47 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-48 {
  object-position: 61.17% 0%;
}

.u-section-1 .u-over-slide-48 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-48 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-49 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-49 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-49 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-50 {
  object-position: 46.7% 0%;
}

.u-section-1 .u-over-slide-50 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-50 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-51 {
  object-position: 61.94% 0%;
}

.u-section-1 .u-over-slide-51 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-51 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-52 {
  object-position: 62.19% 0%;
}

.u-section-1 .u-over-slide-52 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-52 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-53 {
  object-position: 40.1% 0%;
}

.u-section-1 .u-over-slide-53 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-53 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-54 {
  object-position: 57.87% 0%;
}

.u-section-1 .u-over-slide-54 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-54 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-55 {
  object-position: 100% 0%;
}

.u-section-1 .u-over-slide-55 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-55 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-56 {
  object-position: 31.21% 0%;
}

.u-section-1 .u-over-slide-56 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-56 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-57 {
  object-position: 56.6% 0%;
}

.u-section-1 .u-over-slide-57 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-57 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-58 {
  object-position: 54.57% 0%;
}

.u-section-1 .u-over-slide-58 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-58 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-59 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-59 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-59 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-60 {
  object-position: 70.82% 0%;
}

.u-section-1 .u-over-slide-60 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-60 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.45);
  text-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}

.u-section-1 .u-back-image-61 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-61 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-3 {
  padding: 0;
}

.u-section-1 .u-carousel-thumbnail-61 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-62 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-63 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-64 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-65 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-66 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-67 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-68 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-69 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-70 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-71 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-72 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-73 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-74 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-75 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-76 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-77 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-78 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-79 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-80 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -19px auto 0 938px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -19px auto 60px 143px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-gallery-1 {
    width: 302px;
    height: 577px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-carousel-item-20 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-gallery-2 {
    width: 302px;
    height: 577px;
    margin-top: -577px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    width: 9px;
    height: 9px;
  }

  .u-section-1 .u-gallery-3 {
    width: 302px;
    height: 577px;
    margin-top: -577px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 19px;
    height: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 135px;
    margin-left: 773px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-bottom: 14px;
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-gallery-1 {
    width: 230px;
    height: 400px;
    margin-top: 51px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-gallery-2 {
    width: 230px;
    height: 400px;
    margin-top: -400px;
    margin-right: auto;
    margin-left: 490px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-3 {
    width: 230px;
    height: 400px;
    margin-top: -399px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 15px;
    height: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 99px;
    margin-left: 592px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 16px;
    margin-left: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: -14370px;
    margin-left: 310px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 12px;
    height: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -643px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 444px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: -9056px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -669px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 280px;
  }
}